.rowItem {
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
}

.itemText {
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  padding: 0 2rem;
}
